{% extends 'Navbar.html' %}
{% load static %}
<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  {% block body %}
</div>
<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">National Tour</h5>
        <p class="card-text">Travel With In The Country</p>
        <a href="https://www.makemytrip.com/holidays-india/" class="btn btn-primary" target="_blank">Packages</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">International Tour</h5>
        <p class="card-text">Travel Around The World</p>
        <a href="https://www.yatra.com/international-tour-packages" class="btn btn-primary" target="_blank">Packages</a>
      </div>
    </div>
  </div>
</div>
  </div>
{% endblock %}
</body>
</html>